@import "grid";
@import "media-queries";
@import "normalize";
// ================ MAIN ================== //

/* === ABSTRACTS === */

/* boites */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    cursor:pointer;
}

ul {
    padding-inline-start:0px;
}

/* clearfix */
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* images */

img {
    display: block;
}
/* ================================= */

/* === VARIABLES === */

:root
{
    --grey: #999;
    --secondary: #cfb5ff;
    --primary: #5226a5;
}

/* === GRILLES === */

body
{
    margin: 0;
}

/*  */

p, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
}

/* décalage vers la droite: push */
.push-4
{
    margin-left: 320px;
}
/* ========================================== */
/* === BOUTONS ET CALL TO ACTION */

/* commun à tous les boutons  */
.btn
{
    border: none;
    outline: none;
    text-decoration: none;
}

.btn-1 {
    color:white;
    background-color:var(--primary);
    padding:10px 20px;
    border-radius:20px;
    font-weight:700;
    font-size:14px;
    z-index:1000;
    text-transform: uppercase;
}

.btn-1:hover,
.btn-1:focus,
.btn-1:active 
{
  background-color:white;
  border:2px solid var(--primary);
  cursor:pointer;
  color:var(--primary);
}

/* HEADING PRIMARY LEFT*/

.heading_details {
    text-align:left;
    align-items:center;
  }
  
  .heading_details::before {
    content:'';
    display: block;
    background: transparent no-repeat center /contain;
    height:50px;
    width:55.83px;
    margin-right:10px;
  }
  
  .heading {
    padding-top:40px;
    color: var(--primary);
    font-size:40px;
    padding-left: 10px;
    font-weight: 700;
    padding-bottom:40px;
    text-transform: uppercase;
    text-align: left;
    @include xs {
        font-size:30px;
    }
  }
  
  .heading::before {
    background-image:url(../images/Logo/PictoWALLPurple90R.svg)
  }

/* HEADING PRIMARY RIGHT*/

.heading-right_details {
    text-align:left;
    align-items:center;
  }
  
  .heading-right_details::after {
    content:'';
    display: block;
    background: transparent no-repeat center /contain;
    height:50px;
    width:55.83px;
    margin-left:10px;
  }
  
  .heading-right {
    padding-top:40px;
    color: var(--primary);
    font-size:40px;
    padding-left: 10px;
    font-weight: 700;
    padding-bottom:40px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .heading-right::after {
    background-image:url(../images/Logo/PictoWALL180.svg)
  }

/* HEADING WHITE */

.heading_details-white {
    text-align:left;
    align-items:center;
  }
  
  .heading_details-white::before {
    content:'';
    display: block;
    background: transparent no-repeat center /contain;
    height:50px;
    width:55.83px;
    margin-right:10px;
  }
  
  .heading-white {
    padding-top:40px;
    color: white;
    font-size:40px;
    padding-left: 10px;
    font-weight: 700;
    padding-bottom:40px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .heading-white::before {
    background-image:url(../images/Logo/PictoWALLWhite90R.svg)
  }

/* HEADER */

header {
  background-color:var(--primary);
  height:100px;
  align-items:center;
  @include xs {
      height:240px;
  }
}

.logoheader {
    padding-left:10px;
}

.main_nav {
    align-items: center;
    display:flex;
    flex-wrap:wrap;
}


.main_nav a {
    position: relative;
    color: white;
    font-size:20px;
    letter-spacing: .120;
    text-decoration: none;
  }

.main_nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    margin-bottom:-3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

.main_nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

nav ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
    margin-left:200px;
    @include xs {
        flex-direction: column;
        text-align:center;
        justify-content: center;
        padding-left:120px;
        padding-top:13px;
        margin-left:unset;
    }
}

.navbar {
    display:flex;
}

/* SLIDER DOFLAMINGO */

.bg-1 {
    background-image:url(../images/Index/Doflamingoaccueil.jpg);
    height:550px;
    @include xs {
    margin-left:-220px;
    }
}

.slider h3 {
    font-size:30px;
    color:var(--primary);
    text-transform: uppercase;
    text-shadow: 3px 3px var(--secondary);
    padding-top:110px;
    padding-bottom:10px;
    @include xs {
        text-align:center;
        margin-left:220px;
    }
}

.slider h1 {
    font-size:60px;
    color:var(--primary);
    text-transform: uppercase;
    text-shadow: 3px 3px var(--secondary);
    @include xs {
        text-align:center;
        font-size:50px;
        margin-left:220px;
    }
}

/* SPOIL */

.spoil {
    padding-top:40px;
    @include xs {
        padding-top:0px;
    }
}
.spoil p {
    color:var(--primary);
    font-weight: 300;
    font-size:20px;
    padding-bottom:25px;
    @include xs {
        text-align:center;
    }
}

.spoil img {
    padding-bottom:40px;
    @include xs {
        width:294px;
        height:280px;
        padding-left:50px;
    }
}

/* Promo PC */
.bg-2 {
    background-image: url(../images/Index/itachikisamePC@2x.jpg);
    height:600px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.promopc h3 {
    color:white;
    font-size:30px;
    text-transform: uppercase;
    padding-top:85px;
    padding-bottom:10px;
    @include xs {
        text-align:center;
    }
}

.promopc h1 {
    color:white;
    font-size:60px;
    text-transform: uppercase;
    padding-bottom:40px;
    @include xs {
        font-size:60px;
        text-align:center;
    }
}

.promopc a {
    color:white;
    font-size:24px;
    font-weight:700;
    background-color:var(--primary);
    padding:15px 35px;
    border-radius:40px;
    text-decoration: none;
    @include xs {
        margin-left:70px;
    }
}
.promopc a:hover,
.promopc a:focus,
.promopc a:active 
{
  background-color:white;
  border:2px solid var(--primary);
  cursor:pointer;
  color:var(--primary);
}
/* MINGO PROMO */

.mingopromo h2 {
    margin-bottom:-30px;
    @include xs {
        font-size:20px;
    }
}

.centrer {
    display:flex;
    justify-content: center;
}

.centrer2 {
    display:flex;
    justify-content: center;
    align-items:center;
}
.mingoborder ul {
    border-top:3px solid var(--primary);
    padding-top:30px;
}

.mingopromo img {
    z-index:5;
    border: 1px solid black;
}

.redirection {
    position: absolute;
    padding-top:20px;
    padding-left: 72px;
    padding-right: 20px;
    bottom:50;
    left: 50;
}

.redirection a {
    text-decoration: none;
    @include xs {
        padding:15px 30px;
        font-size:24px;
        border-radius:30px;
        margin-left:35px;
    }
}

.mingopromo h3 {
    padding-bottom:10px;
}

.mingopromo p {
    font-size:14px;
}

.btn-2 {
    font-size:20px;
    font-weight:700;
    color:var(--primary);
    background-color:white;
    padding:5px 10px;
    border:1px solid var(--secondary);
}

.btn-2:hover,
.btn-2:focus,
.btn-2:active {
    opacity:80%;
    border:1px solid var(--primary);
}
/* ANIME DU MOMENT */

.animemoment {
    background-image: url(../images/Index/ItadoriAoifight.jpg);
    height:600px;
}

.moment_content {
    height:425px;
    background-color: rgba(82, 38, 165, .6);
    border-radius:20px;
}

.moment_content h2 {
    @include xs {
        font-size:24px;
    }
}

.moment_content h1 {
    text-align:center;
    color:white;
    text-transform: uppercase;
    font-size:60px;
    font-style:italic;
    margin-top:-35px;
    @include xs {
        font-size:34px;
    }
}

.moment_content p {
    color:white;
    text-align:center;
    font-weight:300;
    font-size:20px;
    padding-top:15px; 
    @include xs {
        font-size:18px;
        padding:0px 10px;
        padding-top:20px;
    }
}

.responsive_moment_a {
    margin-top:50px;
    @include xs {
        margin-top:60px;
    }
}

/* FOCUS */

.focus {
    background-color:#EDEDED;
}

.focus_container {
    @include xs {
        flex-direction: column-reverse;
    }
}

.focus_left {
    margin-left:80px;
    @include xs {
        margin-left:0px;
        padding-left:28px;
    }
}

.focus_right {
    margin-left:-80px;
    @include xs {
        margin-left:0px;
    }
}

.oeuvre {
    height:290px;
    width: 290px;
}

.focus_content {
    height:610px;
    width:610px;
    background-color:white;
    border-radius:5px;
    @include xs {
        height:none;
        width:unset;
        margin-top:70px;
    }
}

.textcenter {
    @include xs {
    padding-left:60px;
    }
  }

.ppfocus {
  border-radius:50%;
  height:150px;
  width:150px;
}


.focus_content h4 {
    color:black;
    font-size:26px;
    padding-top:20px;
    text-align:center;
}

.author {
    color:var(--grey);
    font-size:14px;
    font-style:italic;
    font-weight:300px;
    text-align:center;
    padding-top:10px;
}

.focus_speech {
    padding-top:40px;
    @include xs {
        font-size:14px;
        padding:0px 20px;
        padding-top:30px;
        }
}

.socialshop {
    height:290px;
    width:290px;
    background-color:white;
    border-radius:5px;
    @include xs {
        margin-bottom:60px;
    }
}

.socialshop a:hover,
.socialshop a:focus,
.socialshop a:active {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.socialshop h2 {
    font-size:40px;
    padding-top:30px;
}

.date {
    color:var(--grey);
    font-size:14px;
    font-style:italic;
    font-weight:300px;
    text-align:center;
    padding-top:50px;
}

.vitrine {
    @include xs {
        display:flex;
        text-align:center;
        justify-content: center;
    }
}

/* FOOTER */
footer {
    height:150px;
    background-color:var(--primary);
    @include xs {
        height:270px;
    }
}

.logofooter {
    padding-left:30px;
}

.footer_content {
    align-items:center;
    padding-top:20px;
}

.social_footer {
    @include xs {
    padding-left:100px;
    padding-top:20px;
    }
}
 
.footer_content p {
    text-align:center;
    justify-content: center;
    color:white;
    font-weight:300;
    font-size:20px;
    padding-top:10px;
    padding-left:150px;
    @include xs {
        padding-left:0px;
        padding:30px;
    }
}

footer a:hover,
footer a:focus,
footer a:active {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

/* ========== MY WORKS ========== */

.bg-3 {
    background-image:url(../images/Index/PhonesWallp_@2x.jpg);
    height:600px;
    background-position: center center;
    background-size: cover;
    @include xs {
        margin-left:-600px;
    }
}

.spoil a {
    text-decoration: none;
}

.minimalismwork h2 {
    @include xs {font-size:14px;}
}

.gangnam img {
    @include xs {
        height:350px;
    }
}
.himejima h1 {
    padding-top:120px;
    @include xs {
        margin-left:600px;
        padding-top:90px;
    }
}

.himejima p {
    padding-top:10px;
    color:var(--primary);
    font-size:20px;
    text-shadow: 2px 2px var(--secondary);
    line-height:28px;
    padding-bottom:20px;
    @include xs {
        margin-left:600px;
        text-align:center;
    }
}

.himejima a:hover,
.himejima a:focus,
.himejima a:active {
    transform: scale(1.5);
    transition: .2s ease-in-out;
}

/* ========= COMPUTER ========= */
.bg-5 {
    background-image:url(../images/computer/ComputerSlider@2x.jpg);
    height:550px;
    background-position: center center;
    background-size: cover;
}

.computerpres a {
    text-decoration: none;
}

.computerpres a:hover,
.computerpres a:active,
.computerpres a:focus {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

.computerpres img {
    height:318px;
    @include xs {
        height:100px;
    }
}

.computerpres h2 {
    @include xs {
    font-size:18px;
    }
}

/* ======== FOCUS ========= */

.bg-4 {
    background-image: url(../images/focus/ZoroFocusBG_@2x.jpg);
    height:550px;
    background-position: center center;
    background-size: cover;
}

.zorobg h1 {
    padding-top:110px;
    @include xs {
        margin-left:0px;
        padding-top:50px;
        padding-bottom:20px;
    }
}

.zorobg p {
    padding-top:10px;
    color:var(--primary);
    font-size:20px;
    text-shadow: 2px 2px var(--secondary);
    line-height:28px;
    padding-bottom:30px;
    @include xs {
        margin-left:17px;
        text-align:center;
    }
}

.zorobg a {
    @include xs {
        margin-left:0px;
    }
}

/* PHONES */

.bg-6 {
    height:550px;
    background-image:url(../images/phones/PhonesLivaiBG.png);
    background-position: center center;
    background-size: cover;
    @include xs {
        margin-left:-220px;
    }
}

.livaibg h1 {
    @include xs {
        font-size:50px;
        margin-left:220px;
    }
}

.livaibg p {
    @include xs {
        margin-left:220px;
    }
}

.livaibg a {
    @include xs {
        margin-left:280px;

    }
}

.phonepres h2 {
    @include xs {
    font-size:18px;
    }
}

.phonepres a {
    text-decoration: none;
}

.phonepres a:hover,
.phonepres a:active,
.phonepres a:focus {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

.phonepres img {
    height:548px;
    @include xs {
        height:unset;
    }
}